<table class="table table-condensed">
  <thead>
    <tr>
      <th>Home Player</th>
      <th>Away Player</th>
      <th>Match Start</th>
    </tr>
  </thead>

  <tbody>
    <% tournament.matches.each do |match| %>
      <tr>
        <td><%= match.home_player.email %></td>
        <td><%= match.away_player.email %></td>
        <td><%= match.start_at.strftime('%B %d %Y, %l:%M %P') if match.away_player %></td>
      </tr>
    <% end %>
  </tbody>
</table>
