<table class="table table-condensed">
  <thead>
    <tr>
      <th>Tournament</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to tournament.name, tournament_path(tournament) %></td>
        <td><%= tournament_date_label(tournament) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
