<div class="col-md-6">
  <h2><%= @tournament.name %></h2>

  <h5><%= "#{@tournament.start_at.to_formatted_s(:long)} - #{@tournament.end_at.to_formatted_s(:long)}" %></h5>

  <p>
    <%= @tournament.description %>
  </p>

  <% if @tournament.owned_by(current_user) %>
    <%= link_to "Change Tournament Details", edit_tournament_path, class: "btn btn-md btn-primary top20"  %>
  <% end %>
</div>
