<div class="jumbotron">
  <div class="container">
    <h1>
    Welcome to Matchpoint
    </h1>

    <p class="top40">
      The simplest tennis tournament manager in the world.
    </p>

    <p class="top40">
      <%= link_to "Sign Up", sign_up_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>
