.noresize {
  resize: none;
}

.top5 {
  margin-top:5px;
}

.top10 {
  margin-top:10px;
}

.top15 {
  margin-top:15px;
}

.top20 {
  margin-top:20px;
}

.top40 {
  margin-top:40px;
}

.bottom5 {
  margin-bottom:5px;
}

.bottom10 {
  margin-bottom:10px;
}

.bottom15 {
  margin-bottom:15px;
}

.bottom20 {
  margin-bottom:20px;
}

.bottom40 {
  margin-bottom:40px;
}

.left5 {
  margin-left:5px;
}

.left10 {
  margin-left:10px;
}

.left15 {
  margin-left:15px;
}

.left20 {
  margin-left:20px;
}

.left40 {
  margin-left:40px;
}

.right5 {
  margin-right:5px;
}

.right10 {
  margin-right:10px;
}

.right15 {
  margin-right:15px;
}

.right20 {
  margin-right:20px;
}

.right40 {
  margin-right:40px;
}
